:root {
    --ut-color: #00AB84
}

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #1E1E1E;
    min-height: 100vh;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    box-shadow: 0px 3px 8px #0000001a
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo img {
    width: 30px;
}

nav a {
    color: #1E1E1E;
}

.logo span {
    font-family: 'Alike', serif;
    font-size: 16px;
    color: #1E1E1E;
}

/* finish navbar */

.container-select {
    padding: 28px 0;
    text-align: center;
}

#states-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    height: 40px;
    width: 60%;
    min-width: 280px;
    max-width: 400px;
    font-size: 18px;
    font-weight: 600;
    border: #868686 1px solid;
    color: #555555;
    text-align: center;
    background: url('../assets/bx-chevron-down.svg') no-repeat 95% center;
}

#states-select:focus {
    border: 2px solid var(--ut-color); /* Cambia este valor al color que desees */
    outline: none; /* Evita que aparezca un contorno alrededor del select en algunos navegadores */
}

h3 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

#container-zones {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin: 20px auto;
    column-gap: 20px;
    row-gap: 30px;
}

.card-item {
    width: 100%;
    border-radius: 8px;
    min-height: 320px;
    border: 2px solid var(--ut-color);
    box-shadow: 0px 0px 5px #0000002e
}

.content-img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.card-info {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.state-location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.name {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.state-location img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(34%) saturate(6145%) hue-rotate(146deg) brightness(103%) contrast(101%);
}

.button-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    margin: 10px auto;
    height: 36px;
    border-radius: 6px;
    color: #fff;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button-more:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ut-color);
    z-index: -2;
}

.button-more:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #039472;
    transition: all .3s;
    border-radius: 6px;
    z-index: -1;
}

.button-more:hover{
    color: #fff;
}

.button-more:hover:before{
    width: 100%;
}

.chip {
    border: #555555 1px solid;
    color: #555555;
    width: 136px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open {
    border: var(--ut-color) 1px solid;
    color: var(--ut-color);
}

.close {
    border: #F82A2A 1px solid;
    color: #F82A2A;
}

@media (min-width: 768px) {
    h3 {
        font-size: 36px;
    }

    nav {
        padding: 16px 36px;
    }

    nav a {
        font-size: 18px;
    }

    .logo span {
        font-size: 18px;
    }
}

/* footer */
.footer {
    background-color: var(--ut-color);
    padding: 30px 47px 17px 47px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 100;
}

.group{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.group a{
    color: #ffffff;
}