:root {
    --ut-color: #00AB84
}

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #1E1E1E;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    box-shadow: 0px 3px 8px #0000001a
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo img {
    width: 30px;
}

nav a {
    color: #1E1E1E;
}

.logo span {
    font-family: 'Alike', serif;
    font-size: 16px;
    color: #1E1E1E;
}


.img-zone {
    width: 100%;
    align-items: center;
    border-radius: 10px;
}

.map {
    width: 100%;
}

iframe {
    width: 100%;

}


.exit-button {
    background-color: #1E9771;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 50px; 
    right: 20px;
    z-index: 1000; 
    border-radius: 20px; 
    font-size: 20px; 
    line-height: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.exit-button i {
    margin-right: 5px; 
}

.exit-button:hover {
    background-color: #070707;
}

#name {
    font-size: 32px;
}

#info-card {
    flex: 1; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

#info-zone {
    display: flex;
    flex-direction: row; 
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;

}

#container-photo {
    flex: 2; 
    margin-right: 20px; 
}

#info-card {
    flex: 3; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.location-card {
    flex: 1; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 54%;
    margin-left: auto;
    margin-right: 5%;
}

@media (max-width: 768px) {
    #info-zone {
        flex-direction: column; 
    }

    #container-photo {
        flex: 90%; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    #info-card {
        flex: 100%; 
    }

    .location-card {
        width: 90%;
    }
}




.footer {
    background-color: var(--ut-color);
    padding: 30px 47px 17px 47px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 100;
}

.group{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.group a{
    color: #ffffff;
}
